h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    display: block;
    padding: 7px 0px;
}

button{
    padding: 7px 0px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 80px;
}

td{
    min-width: 1500px;
    background-color: aqua;
}